/* ----- CONFIG ----- */

@use "sass:meta";

/* ----- FONTS ----- */

@font-face {
  font-family: "Alata";
  src: local("Alata Regular"), local("Alata-Regular"),
    url("../fonts/Alata-Regular.woff2") format("woff2"),
    url("../fonts/Alata-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: local("Josefin Sans Light"), local("JosefinSans-Light"),
    url("../fonts/JosefinSans-Light.woff2") format("woff2"),
    url("../fonts/JosefinSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* ----- VARIABLES ----- */

$font-family-body: "Alata", sans-serif;
$font-family-headings: "Josefin Sans", sans-serif;

/* ----- BREAKPOINTS ----- */

/* 650px -> mobile menu + flex column to row */
/* 800px -> larger creations images */

/* Fluid typography and spacing */
/* https://royalfig.github.io/fluid-typography-calculator/ */
/* Min Viewport = 25rem / 400px */
/* Max Viewport = 50rem / 800px */

/* ----- CUSTOM PROPERTIES ----- */

:root {
  /* Colors */
  --clr-white: hsl(0, 0%, 100%); /* White */
  --clr-black: hsl(0, 0%, 0%); /* Black */
  --clr-dark-gray: hsl(0, 0%, 55%); /* Dark Gray */
  --clr-very-dark-gray: hsl(0, 0%, 41%); /* Very Dark Gray */

  /* Fonts */
  --ff-body: #{meta.inspect($font-family-body)};
  --ff-headings: #{meta.inspect($font-family-headings)};

  --fw-light: 300;
  --fw-regular: 400;

  --fs-400: 0.9375rem; /* 15px */
}

/* ----- END ----- */
