/* ----- CONFIG ----- */

@use "sass:meta";

/* ----- VARIABLES ----- */

$font-family-body: "Alata", sans-serif;
$font-family-headings: "Josefin Sans", sans-serif;

/* ----- BREAKPOINTS ----- */

/* 650px -> mobile menu + flex column to row */
/* 800px -> larger creations images */

/* ----- CUSTOM PROPERTIES ----- */

:root {
  /* Colors */
  --clr-white: hsl(0, 0%, 100%); /* White */
  --clr-black: hsl(0, 0%, 0%); /* Black */
  --clr-dark-gray: hsl(0, 0%, 55%); /* Dark Gray */
  --clr-very-dark-gray: hsl(0, 0%, 41%); /* Very Dark Gray */

  /* Fonts */
  --ff-body: #{meta.inspect($font-family-body)};
  --ff-headings: #{meta.inspect($font-family-headings)};

  --fw-light: 300;
  --fw-regular: 400;

  --fs-400: 0.9375rem; /* 15px */
}

/* ----- END ----- */
